# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
env/
.venv/
.env/

# Project data folders
# data/
staging/
archive/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
coverage.xml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm / VSCode
.idea/
.vscode/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Pytype
.pytype/

# Django stuff
*.log
local_settings.py
db.sqlite3

# Flask stuff
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx documentation
docs/_build/

# PyInstaller
*.manifest
*.spec

# Environment variables
*.env
*.env.*

# macOS
.DS_Store

# Windows
Thumbs.db
